<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scaled = 1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>{{data[1]}}</title>
    <style >.dropbtn {
      background-color: #2d3748;
      color: white;
      padding: 12px;
      vertical-align: middle;
      border-radius: 5px;
      width: 150px;
      height: 40px;
      padding: 2px;
      color: #a0aec0;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #4a5568; color: #fff}</style>
</head>
<body class="bg-gray-900">

  <header class="text-gray-500 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <svg xmlns="" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">E-Cart</span>
      </a>

      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a href="/" class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0 hover:text-white"  style="margin-right: 5px; height: 40px;" >Home</a> 
        <a href="/cart" class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0 hover:text-white" style="margin-right: 5px; height: 40px;">Cart ({{noOfItems}})
           <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="relative w-4 h-4 ml-1" viewBox="0 0 24 24">
           <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
        
       
        <div class="dropdown">
           {% if not loggedIn %}
            <button class="dropbtn">Sign In</button>
            <div class="dropdown-content">
                <a href="/loginForm"> Login</a><hr>
                <a href="/registerationForm"> Sign Up</a> 
           {% else %}
          <button class="dropbtn" >Hello, {{firstName}}</button>
          <div class="dropdown-content">
            <a href="//myOrders">My Orders</a><hr>
            <a href="/logout">Sign Out
          <path d="M5 12h14M12 5l7 7-7 7"></path></a>
          </div>
        </div>
        
        {% endif %}
      </nav>

    </div>
  </header>
      
      <section class="text-gray-500 bg-gray-900 body-font">
        <div class="container px-5 py-5 mx-auto">
            <div class="h-1 bg-gray-800 rounded overflow-hidden">
              <div class="w-24 h-full bg-indigo-500"></div>
            </div>
          </div>
      </section>

      <section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
          <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <img class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" alt="{{data[1]}}" src={{url_for('static', filename='uploads/' + data[5]) }}>
            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
              <h1 class="text-white text-3xl title-font font-medium mb-1">{{data[1]}}</h1>
              <div class="flex mb-4">
              </div>
              <p class="leading-relaxed">{{data[2]}}</p>
              <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-800 mb-5">
              <div class="flex items-center">
              <p class="leading-relaxed">{{data[4]}} In Stock</p>
                </div>
                <div class="flex ml-6 items-center">
                  <div class="relative">
                    </span>
                  </div>
                </div>
              </div>
              <div class="flex">
                <span class="title-font font-medium text-2xl text-white">₹{{data[3]}}</span>
                <a href="/addToCart?productId={{data[0]}}" class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Add to Cart</a>
            </div>
            </div>
          </div>
        </div>
      </section>
</body>
<script>
  function getQty(){
    let qty = document.getElementById('quantity');
    qty = qty.value;
    return qty;
  }

</script>
</html>