  <!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scaled = 1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}">
    </script>
    <title>Registration</title>
</head>
<body class="">

    <header class="text-gray-500 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row justify-center items-center">
          <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">Registration</span>
          </a>
        </div>
      </header>

      <section class="text-gray-500 bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-wrap justify-center items-center">
         	<div class="lg:w-2/6 md:w-1/2 bg-gray-800 rounded-lg p-8 flex flex-col items-center w-full mt-10 md:mt-0">
         		<h5 class="text-white text-lg font-medium title-font mb-5">Create Account</h2>
         		<form action="/register" method="POST" onsubmit="return validate()">
         		   <input class="bg-gray-900 rounded border text-white border-gray-900 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4 w-full" name="firstName" placeholder="First Name" type="text"  required>
         		   <input class="bg-gray-900 rounded border text-white border-gray-900 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4 w-full" name="lastName" placeholder="Last Name" type="text" required>
         		   <input class="bg-gray-900 rounded border text-white border-gray-900 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4 w-full" name="email" placeholder="E-mail" type="email" required>
         		   <input class="bg-gray-900 rounded border text-white border-gray-900 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4 w-full" name="password" placeholder="Password" id="password" type="password" required>
         		   <input class="bg-gray-900 rounded border text-white border-gray-900 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4 w-full" name="cpassword" placeholder="Confirm Password" id="cpassword" type="password" required>
              <h2 class="text-white font-medium title-font px-2 my-2 text-center">Address Details</h2>
         		   <input class="bg-gray-900 rounded border text-white border-gray-900 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4 w-full" name="house" placeholder="House Number" type="text" required>
         		   <input class="bg-gray-900 rounded border text-white border-gray-900 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4 w-full" name="city" placeholder="City" type="text" required>
         		   <input class="bg-gray-900 rounded border text-white border-gray-900 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4 w-full" name="state" placeholder="State" type="text" required>
         		   <input class="bg-gray-900 rounded border text-white border-gray-900 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4 w-full" name="pincode" placeholder="PIN Code" type="text" pattern="[0-9]*" required>	
               <input class="px-4 py-2 mb-4" type="radio" id="terms" name="terms" value="terms" required>
               <label for="terms">I agree to the <a href="/terms" style="text-decoration: underline; " class="hover:text-white">Terms & Conditions</a></label>
               {% if error %}
               <p class=error><strong>Error:</strong> {{ error }}
                 <br>
                {% endif %}
                <button type="submit" value="Register" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg w-full">Register</button><br>
                <div>Already have an account? <a href="/loginForm" class="hover:text-white underline">Login here</a></div>
         		</form>
          </div>
        </div>
      </section>
    </body>
    </html>